<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<div class="container text-center">
  <h3><i class="bi bi-telephone-fill fa-4x"></i></h3>
  <h2 class="text-center">Add phone number</h2><br />

  <div class="panel-body">
    <%= form_with model: @mobile, url: users_mobile_phone_path do |form| %>
      <div class="form-group">
        <div class="form-outline mb-2">
          <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
          <%= form.text_field :number, placeholder: "number", class: "form-control form-control-lg" %>
        </div>
      </div><br />

      <div class="form-outline mb-4">
        <div class="form-group mb-6">
          <div class="mb-3 xl:w-96">
            <%= render partial: 'country' %>
          </div>
        </div>
      </div>
      <div class="form-group">
        <%= form.submit "Add Number", class: "btn btn-outline-primary"  %>
      </div>
    <% end %>
  </div>
</div>


<style>
    .form-gap {
        padding-top: 70px;
    }
    .container{
        background: rgba(255, 255, 255, 0.95);
        padding: 3%;
        margin-top: 5%;
        max-width: 30%;
        border-radius: 15px;
    }
</style>