<div class="container">
  <div class="card-header">
    <h1>Administrator</h1>
  </div>
  <div class="btn-group">
    <%= link_to "Give Admin", user_become_admin_path(@user), data: { turbo_method: :post }, class: "btn btn-outline-success", style: "margin: 5px" %>
    <%= link_to "Remove Admin", admin_become_user_path(@user), data: { turbo_method: :post }, class: "btn btn-outline-danger", style: "margin: 5px" %>
  </div>

  <style>
      .container {
          background-color: wheat;
          border-radius: 15px;
          margin-top: 5%;
      }
  </style>
</div>