<div class="container">
  <h1>My personal home page</h1>
  <p>You can read more about me, or checkout my blog.</p>

  <%= link_to t('About'), about_path, class: "btn btn-dark" %>
  <%= link_to t("Blog"), posts_path, class: "btn btn-primary"%>
</div>

