<div class="container" style="background: wheat; margin: 30px">
  <h1>My personal home page</h1>
  <p>You can read more about me, or checkout my blog.</p>

  <%= link_to t(:about), about_path, class: "btn btn-dark" %>
  <%= link_to t(:blog), posts_path, class: "btn btn-primary"%>
</div>
