<!--<p style="color: green"><%#= notice %></p>-->
<div class="container">
    <h1>Posts</h1>

    <div id="posts">
      <% @posts.each do |post| %>
        <%= render post %>
        <p>
          <%= link_to t(:show_this_post), post %>
        </p>
      <% end %>
    </div>

    <%= link_to t(:new_post), new_post_path %>
</div>

<%= will_paginate @posts, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
