<!--<p style="color: green"><%#= notice %></p>-->
<div class="container mt-5 mb-5">
  <div class="row d-flex align-items-center justify-content-center">
    <div class="col-md-8">
      <div class="card" style="background-color: transparent; border: 0px;">
        <div class="container">
          <div id="posts">
            <% @posts.each do |post| %>
              <div class="card" style="margin-bottom: 15px; background: rgba(255, 255, 255, 0.85)">
                <div class="card-body">
                  <%= render post %>
                  <p>
                    <%= button_to t(:show_this_post), post, :method => "get", class: "btn btn-warning" %>
                  </p>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <div class="pagination justify-content-center">
          <%= will_paginate @posts, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
        </div>
      </div>
    </div>
  </div>
</div>
