<div class="container" id="<%= dom_id category %>" style="background-color: transparent">
  <h2>
    <% target = action_name.eql?("show") ? categories_path : category %>
<!--    <div class="wrapper">-->
      <%#= button_to category.name.capitalize, target, :method => "get", class: "btn btn-warning" %>
<!--    </div>-->
  </h2>

  <% @category_posts.each do |post| %>
    <div class="card" style="margin-bottom: 5px;left: 0px;right: 0px;margin-left: 20px;margin-right: 20px;">
      <div class="card-body">
        <%= render 'posts/post', post: post %>
      </div>
    </div>
  <% end %>
</div>
<div class="pagination justify-content-center" style="color: orange">
  <%= will_paginate @category_posts, list_classes: %w(pagination justify-content-end) %>
</div>
<style>
    .wrapper {
        text-align: center;
    }

</style>
