<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    <%= t(:languages) %>
  </a>
  <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="navbarDropdown">
    <ul>
      <%= link_to "Georgian", locale: :ge, class: "dropdown-item" %>
    </ul>
    <ul>
      <%= link_to "English", locale: :en, class: "dropdown-item"%>
    </ul>
  </ul>
</li>
